@-moz-document domain('github.com') {

HTML > BODY {min-width:240px;}
  
@media only screen and (max-width:302px) {DIV.header .header-search {width:auto; min-width:240px; max-width:300px; margin-right:0px;} }

DIV.container {width:auto; max-width:980px;}

UL.user-nav {margin-right:0px;}

DIV.file-wrap > TABLE.files TD.message .css-truncate, DIV.file-wrap > TABLE.files TD.age .css-truncate {white-space:normal;}

DIV.file-actions {padding-left:84px;}

/* wiki and sidebar */
DIV.wiki-body .markdown-body {padding:0px 10px; margin:0px;}

@media only screen and (max-width:825px) { DIV.has-rightbar .wiki-body, DIV.has-rightbar .wiki-footer {margin-right:unset;}   DIV.wiki-rightbar {border:solid 1px Silver; margin-left:7px;}  DIV.wiki-wrapper .wiki-footer .wiki-empty-box {margin:0px 0px;} }

@media only screen and (max-width:460px) { DIV.wiki-body .markdown-body {padding:0px 5px;}  DIV.wiki-rightbar {width:180px;} }

@media only screen and (max-width:360px) { DIV.wiki-rightbar {width:160px;} }

@media only screen and (max-width:320px) { DIV.wiki-body .markdown-body {padding:0px 2px;} }

}
