@-moz-document domain('github.com') {

HTML > BODY {min-width:240px;}
  
@media only screen and (max-width:302px) {DIV.header .header-search {width:auto; min-width:240px; max-width:300px; margin-right:0px;} }

DIV.container {width:auto; max-width:980px;}

UL.user-nav {margin-right:0px;}

DIV.file-wrap > TABLE.files TD.message .css-truncate, DIV.file-wrap > TABLE.files TD.age .css-truncate {white-space:normal;}

DIV.file-actions {padding-left:84px;}

}
